    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
        
      <div id="footer">
        <div class="row">
          <div class="medium-3 large-3 columns">
            <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>

            <p class="shadow-black">
              {{ site.description }}
              <a href="{{ site.url }}{{ site.baseurl }}/info/">{{ site.data.language.more }}</a>
            </p>
          </div><!-- /.large-6.columns -->


          <div class="small-3 medium-3 large-2 large-offset-1 columns">
            {% for service_item in site.data.services %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ service_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

              <ul class="no-bullet shadow-black">
              {% for service_item in site.data.services %}
                {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                  <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
                    <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
                  </li>
              {% endfor %}
              </ul>
          </div><!-- /.large-4.columns -->


          <div class="small-3 medium-3 large-3 columns">
            {% for network_item in site.data.network %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ network_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

            <ul class="no-bullet shadow-black">
            {% for network_item in site.data.network %}
              {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}>
                  <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url contains 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->

            
          <div class="small-2 medium-1 large-1 columns">
            <h5 class="shadow-black">微信公号</h5>              
            <ul class="no-bullet shadow-black">
		    <img src="{{ site.url }}{{ site.baseurl }}/images/wechat_subscription.png" alt="wechat_subscription">          
            </ul>
          </div><!-- /.large-3.columns -->
            
          <div class="small-2 medium-1 large-1 columns">
            <h5 class="shadow-black">知识星球</h5>              
            <ul class="no-bullet shadow-black">
		    <img src="http://orchina.org/static/community/openresty.png" alt="wechat_subscription">          
            </ul>
          </div><!-- /.large-3.columns -->
            
        </div><!-- /.row -->
      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>
        </nav>
                    
    <!-- shengyang.xyz -->                      
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?fc4c6a2853725330440914fc011623cb";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
          
    <!-- candylab.net -->          
<!--    
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?ae45e53c4a287c94ba356d73559f72d7";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

          
-->    

      </div><!-- /#subfooter -->
    </footer>
