<aside>
	<div class="panel radius">
		<h3></h3>
		<p>
            糖果实验室的分类
		</p>
	</div>

<!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">
-->
  
  <div class="border-dotted radius b30">
		<p class="text-left">	      
			<!--
        	<script type="text/javascript">var jd_union_pid="1187830551";var jd_union_euid="";</script><script type="text/javascript" src="//ads-union.jd.com/static/js/union.js"></script>
			-->	
		</p>        
  </div>    
</aside>
